<div class="main-container">
    <div class="back-button" routerLink="">
        Back
    </div>
    <div class="title">
        User Details
    </div>
    <div class="user-info">
        <p>
            <span class="heading">Full Name: </span>{{singleUserdata.firstname}} {{singleUserdata.middlename}} {{singleUserdata.lastname}}
        </p>
        <p>
            <span class="heading">Email: </span>{{singleUserdata.email}}</p>
        <p><span class="heading">Phone Nos: </span>{{singleUserdata.phoneNos}}</p>
        <p>
            <span class="heading">Location: </span>{{singleUserdata.location}}
        </p>
        <p>
            <span class="heading">Address: </span>{{singleUserdata.address}}
        </p>
        <p>
            <span class="heading">LinkedIn: </span>{{singleUserdata.linkedIn}}
        </p>
    </div>
    <div class="button-container">
        <app-edit-button (click)="showEdit()"></app-edit-button>
    </div>
</div>
<div class="edit-container">
    <div class="title">
        Edit Details
    </div>
    <div class="edit-info">
        <div>
            <input id="firstname" name="firstname" type="text" value="{{singleUserdata.firstname}}">
        </div>
        <div>
            <input id="middlename" name="middlename" type="text" value="{{singleUserdata.middlename}}">
        </div>
        <div>
            <input id="lastname" name="lastname" type="text" value="{{singleUserdata.lastname}}">
        </div>
        <div>
            <input id="email" name="email" type="text" value="{{singleUserdata.email}}">
        </div>
        <div>
            <input id="phonenos" name="phonenos" type="text" value="{{singleUserdata.phoneNos}}">
        </div>
    </div>
</div>

