div.main-container{
    margin-top: 10%;
    margin-left: 10%;
}

div.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1%;
}
div.user-card-container{
    margin-bottom: 25px;
}

div.user-card{
    display: inline-block;
}

.buttons-container{
    margin-left: 2%;
    display: inline-block;
}



